---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Thierry K.</title>
</head>
<body>
    {% include header.html %}
    <main class="homepage-content">
        <section class="introduction">
            <h1>Who am I?</h1>
            <p>
                Hello my name is <strong>Thierry Kunda</strong>,
                I'm a tech savvy guy who wants to learn a lot of stuff in different fields!
                I created this <strong>portfolio</strong> in order to showcase some of my achievements.
            </p>
        </section>
        <section class="contact">
            <div class="links">
                <a href="https://github.com/ThierryKunda"><img src="./assets/github-logo.png" alt="GitHub"></a>
                <a href="https://www.linkedin.com/in/kunda-thierry-43a115200/"><img src="./assets/linkedin-logo.png" alt="LinkedIn"></a>
                <a href="mailto:kundathierry@gmail.com"><img src="./assets/at-logo.png" alt="E-mail"></a>
            </div>
        </section>
        <section class="projects">
            <h1>Projects</h1>
            <a href="#">All projects</a>
            <div class="projects-listing">
                <a class="project-card" href="/projects/activity-log.html">
                    <h2>Activity Log</h2>
                    <p>
                        AL is a tool that helps <strong>keeping track of work activities</strong>.
                        Written in <strong>Rust</strong>, it registers executed tasks as logs, lets the user <strong>choose the subject</strong> they are working on,
                        <strong>convert</strong> them in other file formats.
                    </p>
                </a>
            </div>
        </section>
    </main>
    {% include footer.html %}
</body>
</html>