h1 {
    font-size: 40px;
    margin: 20px 0;
}

h2 {
    margin: 14px 0;
    font-size: 30px;
}

.post-date {
    font-size: 16px;
    font-style: italic;
}

main {
    margin: 0px 18vw;
    margin-top: 80px;
}

a {
    color: black;
}

section {
    margin: 80px 0;
}

article {
    box-sizing: border-box;
    border-left: 5px solid rgb(123, 53, 167);
    background-color: rgb(225, 207, 236);
    box-shadow: 4px 4px 5px 0px black;
    margin: 20px 0;
    padding: 20px 30px;
    transition: all .2s;
}

article:hover {
    border-left: 8px solid rgb(123, 53, 167);

}

article > p {
    font-size: 14px;
}

li {
    font-size: 18px;
    margin: 20px 0;
}

.content {
    margin: 60px 0;
}

p {
    margin: 20px 0;
    font-size: 18px;
}

code {
    display: block;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    margin: 10px 0;
    background-color: black;
    color: rgb(225, 207, 236);
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

code:active {
    transform: scale(0.95);
}

.quote {
    font-style: italic;
}

.downloads {
    display: flex;
    flex-wrap: wrap;
}

.downloads a {
    display: block;
    background-color: black;
    color: rgb(225, 207, 236);
    padding: 10px 15px;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
}