h1 {
    font-size: 40px;
    margin: 50px 0;
}

h2 {
    margin: 14px 0;
    font-size: 30px;
}

main {
    margin: 0 16vw;
}

a {
    color: black;
}

section {
    margin: 100px 0;
}

.content {
    margin: 60px 0;
}

.content p {
    margin: 20px 0;
    font-size: 18px;
}

.quote {
    font-style: italic;
}